@import './header.css';
@import './about.css';
@import './price.css';
@import './why.css';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Helvetica Neue', sans-serif;
}

.central-container {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0 30px;
}

.primary-btn {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    padding: 6px 40px 11px;

    border: 2px solid #ffffff;

    background: #2D2D2D;

    color: #ffffff;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.16em;

    cursor: pointer;

    transition: background 0.3s;
}

.primary-btn:hover,
.primary-btn:active {
    background: #C1C1C1;

    transition: background 0.3s;
}

.section__title {
    font-size: 40px;
    font-weight: 300;
}